* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    background: white;
    margin: 2em;
}

/* opreating button */
.controls {
    text-align: center;
    margin: 0 auto 1em;
}

/* set css for every opreating elements container */
.pizza-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* set css for every opreating element */
.pizza {
    background: #FFDC00;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    width: 100px;
    margin: .5em;
}

/* set css for every opreation */
.remove-pizza {
    background: #000;
    color: #FFF;
    padding: 0.25em;
    text-decoration: none;
    border-radius: 3px;
}
